body {
  background-image: url(https://i.ytimg.com/vi/4qxUAoFOd4s/maxresdefault.jpg);
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
}

#deathEaterCards {
  padding: 20px;
  max-width: 30%;
  margin-bottom: 20px;
}

#studentDomCards {
  padding: 20px;
  max-width: 30%;
  margin-bottom: 20px;
}

#crest {
  max-width: 100%;
}

#welcomeCard {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
}

#openSortingPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
  margin-top: 10px;
}

.card-text {
  text-align: center;
  font-style: italic;
}

#sortingCard {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

#studentNameForm {
  text-align: center;
}

#performSorting {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  

#gryffindorCard {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
}

#hufflepuffCard {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
}

#ravenclawCard {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
}

#slytherinCard {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
}

#gryffindorCrest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#hufflepuffCrest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#ravenclawCrest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#slytherinCrest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.housematesBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-danger {
  background-color: black ;
  border: black;
  float: right;
  color: white;
  }

.Gryffindor-footer {
  background-color: #c70a4e;
  text-align: center;
  color: white;
}

.Hufflepuff-footer {
  background-color: #fecb00;
  text-align: center;
  color: white;
}

.Ravenclaw-footer {
  background-color: #658ec6;
  text-align: center;
  color: white;
}

.Slytherin-footer {
  background-color: #005b4a;
  text-align: center;
  color: white;
}

.deathEater-footer {
  background-color: black;
  text-align: center;
  color: white;
}

#gryffindor {
  background-color: #c70a4e;
  border: #c70a4e;
  color: white;
}

#hufflepuff {
  background-color: #fecb00;
  border :#fecb00;
  color: black;
}

#ravenclaw {
  background-color: #658ec6;
  border: #658ec6;
  color: white;
}

#slytherin {
  background-color: #005b4a;
  border: #005b4a;
  color: white;
}

#deathEaters {
  background-color: white;
  border: white;
  color: black;
}

#sort {
  background-color: #58361d;
  border: #58361d;
  color: white;
}

#fullRoster {
  background-color: #ffb347;
  border: #ffb347;
  color: black;
}

#performSorting {
  background-color:#c70a4e;
  border: #c70a4e;
  color: white;
}

#openSortingPage {
  background-color: #c70a4e;
  border: #c70a4e;
  color: white;
}
